<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobs</title>
</head>

<body>

  <!-- ===== LIST CONTAINER ==== -->
  <div class="container">
    <div class="card list-car">
      <h5 class="card-header">Lista de trabalhos</h5>
      <div class="card-body">
        <table class="table my-table">
          <thead>
            <tr>
              <th scope="col">Nome do trabalho</th>
              <th id="fadeshow1" scope="col">User</th>
              <th id="fadeshow1" scope="col">Status</th>
              <th id="fadeshow1" scope="col">Recurrence value</th>
              <th id="fadeshow1" scope="col">Recurrence</th>
            </tr>
          </thead>
          <tbody>
            <p></p>
            <div class="form-group">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Search for a job by name">
            </div>
            <tr *ngFor="let job of jobs | filter: searchText | paginate: {itemsPerPage: 3, currentPage: paginaAtual }; let i = index">
              <td>{{job.jobName}}</td>
              <td>{{job.user}}</td>
              <td>{{job.statusCode}}</td>
              <td>{{job.recurrenceValue | currency }}</td>
              <td>{{job.recurrence}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editJob(job)">Editar</button>
                <!-- <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteJob(job)">Deletar</button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pag-control-container">
          <pagination-controls class="pag-control" (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
        </div>
      </div>
    </div>

    <!-- ===== ADD JOB CONTAINER ==== -->
    <div class="card add-car">
      <h5 class="card-header">Adicionar/Atualizar Trabalho</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && saveJob(f)" #f="ngForm" novalidate>

          <!--=== TITLE ===-->
          <div class="form-group">
            <label for="jobName">Título do trabalho</label>
            <input type="text" [(ngModel)]="job.jobName" id="jobName" name="jobName" #jobName="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && jobName.invalid }"
              placeholder="Título do trabalho">
          </div>

          <!--=== JOB USER ===-->
          <div class="form-group">
            <label for="user">User responsável</label>
            <input type="text" [(ngModel)]="job.user" id="user" name="user" #user="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && user.invalid }"
              placeholder="Digite o user">
          </div>

         <!--=== STATUS ===-->
         <p>Selecione o status:</p>
         <div class="form-check">

          <!-- Ativo -->
           <div class="fix-buttons">
             <label class="form-check-label" for="ativo">Ativo</label>
             <input type="radio" [(ngModel)]="job.statusCode" id="ativo" value="Ativo" name="statusCode" #statusCode="ngModel"
               required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && statusCode.invalid }">
           </div>

           <!-- Inativo -->
           <div class="fix-buttons">
             <label class="form-check-label" for="inativo">Inativo</label>
             <input type="radio" [(ngModel)]="job.statusCode" id="inativo" value="Inativo" name="statusCode" #statusCode="ngModel"
               required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && statusCode.invalid }">
           </div>

         </div>

          <!--=== RECURRENCE VALUE ===-->
          <div class="form-group">
            <label for="recurrenceValue">Valor</label>
            <input type="number" [(ngModel)]="job.recurrenceValue" id="recurrenceValue" name="recurrenceValue" #recurrenceValue="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && recurrenceValue.invalid }"
              placeholder="Digite o valor">
          </div>


          <!--=== RECURRENCE ===-->
          <p>Selecione a recorrência:</p>
          <div class="form-check">
             <!-- Intervalo -->
            <div class="fix-buttons">
              <label class="form-check-label" for="intervalo">Intervalo</label>
              <input type="radio" [(ngModel)]="job.recurrence" id="intervalo" value="Intervalo" name="recurrence" #recurrence="ngModel"
                required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && recurrence.invalid }">
            </div>

            <!-- Horário Fixo -->
            <div class="fix-buttons">
              <label class="form-check-label" for="horário fixo">Horário fixo</label>
              <input type="radio" [(ngModel)]="job.recurrence" id="horário fixo" value="Horário Fixo" name="recurrence" #recurrence="ngModel"
                required class="form-check-input" [ngClass]="{ 'is-invalid': f.submitted && recurrence.invalid }">
            </div>

            <div *ngIf="job.recurrence == 'Intervalo'; else horarioFixo">
              <!-- <p></p>
              <label for="user">Digite a recorrência</label>
              <input type="text" [(ngModel)]="job.recurrence" id="recurrence" name="recurrence" #recurrence="ngModel" required
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && recurrence.invalid }"
                placeholder="Digite a recorrência"> -->
            </div>

            <ng-template #horarioFixo>
              <p></p>
              <label for="user">Escolha o horário</label>
              <input type="datetime-local" [(ngModel)]="job.recurrence" id="recurrence" name="recurrence" #recurrence="ngModel" required
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && recurrence.invalid }">
            </ng-template>
          </div>

          <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
          <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>