<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobs</title>
</head>

<body>

  <!-- ===== LIST CONTAINER ==== -->
  <div class="container">
    <div class="card list-car">
      <h5 class="card-header">Lista de Users</h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome do usuário</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | filterByName: searchText">
              <td>{{user.fullName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.cellphone}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editUser(user)">Editar</button>
                <!-- <button type="button" class="btn btn-primary btn-sm" rout (click)="getUserById(user)">View</button> -->
                <!-- <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteUser(user)">Deletar</button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- ===== ADD USER CONTAINER ==== -->
    <div class="card add-car">
      <h5 class="card-header">Adicionar/Atualizar User</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && saveUser(f)" #f="ngForm" novalidate>

          <!--=== NOME ===-->
          <div class="form-group">
            <label for="fullName">Nome</label>
            <input type="text" [(ngModel)]="user.fullName" id="fullName" name="fullName" #fullName="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid }"
              placeholder="Digite o nome completo">
            <div *ngIf="f.submitted && fullName.invalid" class="invalid-feedback">
              <div *ngIf="fullName.errors">Nome é obrigatório</div>
            </div>
          </div>

          <!--=== EMAIL ===-->
          <div [hidden]="editing" class="form-group">
            <label for="email">Email</label>
            <input [disabled]="editing" type="email" [(ngModel)]="user.email" id="email" name="email" #email="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              placeholder="Digite o user">
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors">email é obrigatória</div>
            </div>
          </div>

          <!--=== CELLPHONE ===-->
          <div class="form-group">
            <label for="cellphone">Celular</label>
            <input type="tel" [(ngModel)]="user.cellphone" id="cellphone" name="cellphone" #cellphone="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cellphone.invalid }"
              placeholder="Digite o status">
            <div *ngIf="f.submitted && cellphone.invalid" class="invalid-feedback">
              <div *ngIf="cellphone.errors">Telefone é obrigatório</div>
            </div>
          </div>

          <!--=== PASSWORD ===-->
          <div [hidden]="editing" class="form-group">
            <label for="password">Password</label>
            <input [disabled]="editing" type="password" [(ngModel)]="user.password" id="password" name="password" #password="ngModel"
              required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
              placeholder="Digite a senha">
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors">Password é obrigatório</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
          <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>